.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: lightgray;
    margin-bottom: 6px;
    align-items: center;
}

.score {
    font-size: 20px;
    margin: 8px;
    font-family: sans-serif;
}

.controls {
    display: flex;
    align-items: center;
}

.controls button {
    margin: 6px;
    cursor: pointer;
    padding: 4px;
}
