.cell {
    width: 50px;
    height: 50px;
    position: relative;
    border-collapse: collapse;
    cursor: pointer;
    background: lightgray;
}

.cellOpened {
    background: #ededed;
}

.cell:hover {
    background: darkgray;
}

.cellFlag {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bombCnt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: sans-serif;
}

.cellBomb {
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
