.cell {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
}

.cell-data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bomb-cnt {
    font-size: 20px;
    font-family: sans-serif;
}
