html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    /* align-items: center; */
    background-color: aliceblue;
}

.gameCont {
    /* border: 1px solid black; */
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}
